body{
  font-family: HelveticaNeue;
  font-size: 20px;
  text-align: center;
  color: #444444;
  color: var(--greyish-brown);
}

p.titulo{
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #484848;
}

button.contacto {
  font-size: 20px;
  color:white;
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: #e66700;
  border: 1px solid #e66700;

}

button.comprar {
  width: 57px;
  height: 19.5px;
  border-radius: 50px;
  background-color: #e66700;
}

button.vender {
  width: 57px;
  height: 19.5px;
  border-radius: 50px;
  background-color: #f7971c;
  background-color: var(--squash);
}
button.vs {
  width: 39.5px;
  height: 39.5px;
  border-radius: 50px;
  color:white;
  margin-left:555px;
  margin-top:135px;
  background-color: #f7971c;
  border: 1px solid #f7971c;

}

img {
    width: 100%;
    height: 100%;
}
 .logo{
  width: 89.5px;
  height: 102.5px;
  margin-left:655px;
  margin-top:115px;

  padding: 0;

}
.no{
 width: 99.5px;
 height: 132.5px;
 align-items: center;
 margin: 45px;
 margin-left:555px;
 margin-top:95px;

}

 #banner.titulo{
  width: 390px;
  height: 23.5px;
  font-family: HelveticaNeue;
  font-size: 24.5px;
  font-weight: 500;
  line-height: 0.96;
  letter-spacing: -0.3px;
  text-align: center;
  color: #ffffff;
  color: var(--white);
 }

 #banner.subtitulo{
   width: 322px;
    height: 28px;
    font-family: HelveticaNeue;
    font-size: 16.5px;
    line-height: 1.7;
    text-align: center;
    color: #ffffff;
    color: var(--white);
 }

 footer {
  width: 512px;
  height: 138.5px;
}


#navbar {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  background-color: var(--white);
}

 ul {
     list-style-type: none;
     margin: 15px;
     padding: 15px;
     overflow: hidden;
     background-color: #fff;
 }

 li {
     float: right;
 }

 li a {
     display: block;
     color: black;
     text-align: center;
     padding: 15px 15px;
     text-decoration: none;
 }

 .active {
     background-color: #ffffff;
 }

 [class^=col]{
     float:left;
     height:auto;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
 .col-1{
     width: 10%;
 }
 .col-2{
     width: 20%;
 }
 .col-3{
     width: 30%;
 }
 .col-4{
     width: 40%;
 }
 .col-5{
     width: 50%;
 }
 .col-6{
     width: 60%;
 }
 .col-7{
     width: 70%;
 }
 .col-8{
     width: 80%;
 }
 .col-9{
     width: 90%;
 }
 .col-10{
     width: 100%;
 }
